<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\Li.ZhongYuan\AppData\Local\Programs\Python\Python313\python.exe|C:\Users\Li.ZhongYuan\AppData\Local\Programs\Python\Python313\Lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
    <staticContent>
      <remove fileExtension=".py" />
      <remove fileExtension=".pyc" />
    </staticContent>
    <fastCgi>
      <application fullPath="C:\Users\Li.ZhongYuan\AppData\Local\Programs\Python\Python313\python.exe" arguments="C:\Users\Li.ZhongYuan\AppData\Local\Programs\Python\Python313\Lib\site-packages\wfastcgi.py">
        <environmentVariables>
          <environmentVariable name="WSGI_HANDLER" value="app.app" />
          <environmentVariable name="PYTHONPATH" value="C:\inetpub\wwwroot\AKC_FBS;C:\inetpub\wwwroot\AKC_FBS\.venv\Lib\site-packages" />
        </environmentVariables>
      </application>
    </fastCgi>
  </system.webServer>
</configuration>